@model IEnumerable<RestauranteApp.Models.Factura>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MontoTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetodoPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mesa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MontoTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetodoPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mesa.NumeroMesa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FacturaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FacturaId">Details</a> |
                <a asp-action="FacturaPdf" asp-route-id="@item.FacturaId" target="_blank" class="btn btn-sm btn-primary">PDF</a> |
                <a asp-action="Delete" asp-route-id="@item.FacturaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
