@model IEnumerable<RestauranteApp.Models.Ingrediente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreIngrediente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnidadMedida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proveedor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreIngrediente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnidadMedida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proveedor.NombreProveedor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IngredienteId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IngredienteId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IngredienteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
