html

@model IEnumerable<RestauranteApp.Models.Gasto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-action="GeneratePdf" class="btn btn-success" target="_blank">Generar Reporte PDF</a>
        <a asp-action="ExportarExcel" class="btn btn-info">Exportar a Excel</a>
</p>
<table class="neo-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaGasto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaGasto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaGasto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaGasto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GastoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GastoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GastoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
