@model IEnumerable<RestauranteApp.Models.Mesa>

@{
    ViewData["Title"] = "Index";
}

<h1>Mesas existentes</h1>

<p>
    <a asp-action="Create" class="btn">Nueva Mesa</a>
</p>
<table class="neo-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroMesa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroMesa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>

             <div class="btn-group" role="group">
                <a type="button" class="btn" asp-action="Edit" asp-route-id="@item.MesaId">Edit</a>
                <a type="button" class="btn" asp-action="Details" asp-route-id="@item.MesaId">Details</a>
                <a type="button" class="btn" asp-action="Delete" asp-route-id="@item.MesaId">Delete</a>
            </div>
            </td>
        </tr>
}
    </tbody>
</table>
